Main.class
InventoryFeedProject/.settings
InventoryFeedProject/.classpath
InventoryFeedProject/.project
EmployeeManager/.settings
EmployeeManager/.classpath
EmployeeManager/.project
RetailStoreInventoryManagementProject/.settings
RetailStoreInventoryManagementProject/.classpath
RetailStoreInventoryNanagementProject/.project
/.metadata